$left-color:  #242e4d;
$right-color: #897e79;
$green-dark:  #35c3c1;
$green-light: #00d6b7;
$gray:        #8f8f8f;
$gray-light:  #f5f6f8;

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


.search-form {
  width: 100%;
  padding: 2em;
  position: relative;
  background: rgba(black, .15);

  &:before {
    content: '';
    position: absolute;
    top: -2px; left: 0;
    height: 2px; width: 100%;

    background: linear-gradient(
      to right,
      $green-dark,
      $green-light
    );
  }
}

  .flex-row {
    display: flex;
    margin-bottom: 1em;
  }

  .lf--label {
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;

    background: $gray-light;
    cursor: pointer;
  }
  .lf--input {
    flex: 2;
    padding: 1em;
    border: 0;
    color: $gray;
    font-size: 1rem;
    width: 80%;

    &:focus {
      outline: none;
      transition: transform .15s ease;
      transform: scale(1.1);
    }
  }

  .lf--submit {
    display: block;
    padding: 1em;
    width: 100%;

    background: linear-gradient(
      to right,
      $green-dark,
      $green-light
    );
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: .75em;
    font-weight: 600;
    text-shadow: 0 1px 0 rgba(black, .2);

    &:focus {
      outline: none;
      transition: transform .15s ease;
      transform: scale(1.1);
    }
  }

.lf--forgot {
  margin-top: 1em;
  color: $green-light;
  font-size: .65em;
  text-align: center;
}

::placeholder { color: $gray; }


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
