.sidebar {
  height: 100%;
  background: blue;

  &-full {

  }

  &-list{
    padding-top: 10vh;

    &-item {
      list-style-type: none;

      &-link {
        // font-size: 1.2vw;
        font-size: 100%;
        line-height: 100%;
        font-weight: 300;
        text-decoration: none;

        display: grid;
        grid-template-columns: 10% 25% 50% 15%;
        grid-template-rows: 10% 80% 10%;

        height: 9vh;

        font-size: 1.8rem;

        color: white;

        &-icon {
          grid-column: 2;
          grid-row: 2;

          font-size: 3rem;
        }

        &-text {
          grid-column: 3;
          grid-row: 2;
          vertical-align: text-bottom;
          padding-top: 8%;

        }
      }

      &:hover {
        background-color: black;
      }
    }
  }
}
