<div class="sidebar sidebar-collapsed">
  <a class="icon-container" href="#">
      <i class="icon-arrow-left-circle icons back-button"></i>
    </a>
  <ul class="sidebar-list">
    <li class="sidebar-list-item">
      <a hrewrapperf="#" class="sidebar-list-item-link">
        <i class="icon-home icons sidebar-list-item-link-icon"></i>
        <span class="sidebar-list-item-link-text">Dashboard</span>
      </a>
    </li>
    <li class="sidebar-list-item">
      <a hrewrapperf="#" class="sidebar-list-item-link">
        <i class="icon-home icons sidebar-list-item-link-icon"></i>
        <span class="sidebar-list-item-link-text">Dashboard</span>
      </a>
    </li>
    <li class="sidebar-list-item">
      <a hrewrapperf="#" class="sidebar-list-item-link">
        <i class="icon-home icons sidebar-list-item-link-icon"></i>
        <span class="sidebar-list-item-link-text">Dashboard</span>
      </a>
    </li>
    <li class="sidebar-list-item">
      <a hrewrapperf="#" class="sidebar-list-item-link">
        <i class="icon-home icons sidebar-list-item-link-icon"></i>
        <span class="sidebar-list-item-link-text">Dashboard</span>
      </a>
    </li>
    <li class="sidebar-list-item">
      <a hrewrapperf="#" class="sidebar-list-item-link">
        <i class="icon-home icons sidebar-list-item-link-icon"></i>
        <span class="sidebar-list-item-link-text">Dashboard</span>
      </a>
    </li>
  </ul>
</div>
