<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <link href="https://fonts.googleapis.com/css?family=PT+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="wrapper">
      {{> sideBar}}
      <div class="main">
        {{> mainBar}}
        <div class="main-content">
          {{{body}}}
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="js/main.js"></script>
</html>
