.wrapper {
  font-family: 'PT Sans', sans-serif;
  background-color: $nice-grey;
  margin: 0 auto;
  height: $full-height-wrapper-height;
  display: grid;
  grid-template-columns: auto 1fr;
}

@media (min-width: $small-screen-width-max) {
  .wrapper {
    min-width: $wrapper-min-width;
    min-height: $wrapper-min-height;
    width: $wrapper-width;
  }
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;
}
