<script src="https://use.fontawesome.com/13dbffd57b.js"></script>

<div class="bill only-table">
   <div class="search portlet">
     <input class="input" contentEditable=true >

     </input>
     <div class="results table">

     </div>
   </div>
   <div class="bill-table">
     <div class="button-group portlet">
       <a class="waves-effect waves-light btn btn-search"><i class="fa fa-search"></i> search </a>
       <a class="waves-effect waves-light btn btn-bill">
<i class="fa fa-check" aria-hidden="true"></i> Create Bill </a>
     </div>
     <div class="table-body portlet">

     </div>
     <div class="total portlet">

     </div>
   </div>
</div>
