<div class="dashboard">
  <div class="meter">
    <div id="meter-1" class="main-content-meter">
      <div class="portlet meter-inner">
        <div class="meter-inner-number font-green-jungle">
          <span class="number">1900</span>
          <span class="symbol">₹</span>
        </div>
        <div class="meter-inner-icon">
          <i class="icon icon-chart"></i>
        </div>
        <div class="meter-inner-title">
          Total Profit
        </div>
        <div class="meter-inner-progress">
          <div class="progress ">
            <div class="determinate green-jungle" style="width: 50%"></div>
          </div>
        </div>
        <div class="meter-inner-progress-text">
          Progress
        </div>
        <div class="meter-inner-percentage">
          50%
        </div>
      </div>
    </div>
    <div id="meter-2" class="main-content-meter">
      <div class="portlet meter-inner">
        <div class="meter-inner-number font-blue-sharp">
          <span class="number">7800</span>
          <span class="symbol">₹</span>
        </div>
        <div class="meter-inner-icon">
          <i class="icon icon-pie-chart"></i>
        </div>
        <div class="meter-inner-title">
          Total Revenue
        </div>
        <div class="meter-inner-progress">
          <div class="progress ">
            <div class="determinate blue-sharp" style="width: 70%"></div>
          </div>
        </div>
        <div class="meter-inner-progress-text">
          Progress
        </div>
        <div class="meter-inner-percentage">
          70%
        </div>
      </div>
    </div>
    <div id="meter-3" class="main-content-meter">
      <div class="portlet meter-inner">
        <div class="meter-inner-number font-red-flamingo">
          <span class="number">256</span>
          <!-- <span class="symbol">₹</span> -->
        </div>
        <div class="meter-inner-icon">
          <i class="icon icon-basket-loaded"></i>
        </div>
        <div class="meter-inner-title">
          Total Orders
        </div>
        <div class="meter-inner-progress">
          <div class="progress ">
            <div class="determinate red-flamingo" style="width: 75%"></div>
          </div>
        </div>
        <div class="meter-inner-progress-text">
          Progress
        </div>
        <div class="meter-inner-percentage">
          75%
        </div>
      </div>
    </div>
    <div id="meter-4" class="main-content-meter">
      <div class="portlet meter-inner">
        <div class="meter-inner-number font-purple-medium">
          <span class="number">1002</span>
          <!-- <span class="symbol">₹</span> -->
        </div>
        <div class="meter-inner-icon">
          <i class="icon icon-wallet"></i>
        </div>
        <div class="meter-inner-title">
          Average Stock
        </div>
        <div class="meter-inner-progress">
          <div class="progress ">
            <div class="determinate purple-medium" style="width: 76%"></div>
          </div>
        </div>
        <div class="meter-inner-progress-text">
          Remaining
        </div>
        <div class="meter-inner-percentage">
          76%
        </div>
      </div>
    </div>
  </div>
  <div class="chart-holder">
    <div class="portlet chart" id="chart-1"> </div>
    <div class="portlet chart" id="chart-2">
    </div>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
