.input {
  width: 100%;
  box-sizing: border-box;
  height: 3.6rem;
  display: inline-block;
  border: .2rem solid #eee;
  border-radius: 5px;
  font-size: 2rem;
  transition: .5s;
  padding-left: 1rem;
  padding-top: 0.3rem;
}

.input:focus {
  border: 2px solid #2F96EF;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 3px 1px -2px rgba(0,0,0,0.12),
              0 1px 5px 0 rgba(0,0,0,0.2);
  outline: none;
}

.input::placeholder {
  font-weight: 300;
  color: #dde;
}
