.bill {
  display: grid;
  height: 100%;
  grid-template-rows: $gutter 1fr $gutter;

  &-table {
    display: grid;
    grid-template-rows: auto $gutter 11fr $gutter 1fr;

    .button-group {
      grid-row: 1;
      padding: 0.7rem;
      display: grid;
      grid-template-columns: auto 1fr auto;

      .btn {
        width: 20rem;
        font-size: 1.7rem;
        font-weight: 600;
        letter-spacing: .1rem;

        i {
          font-size: 120%;
          padding-right: 1rem;
          margin-left: 0;
        }

        &.btn-bill {
          grid-column: 3;
        }
      }
    }

    .table-body {
      grid-row: 3;
    }

    .total {
      grid-row: 5;
    }
  }

  &.search-focus {
    grid-template-columns: $gutter 1fr $gutter 1fr $gutter;

    .search {
      grid-row: 2;
      grid-column: 2;
    }

    .bill-table {
      grid-row: 2;
      grid-column: 4;
    }
  }

  &.only-table {
    grid-template-columns: 0rem $gutter 1fr $gutter;

    .search {
      grid-row: 2;
      grid-column: 1;
      display: none;
      visibility: hidden;
    }

    .bill-table {
      grid-row: 2;
      grid-column: 3;
    }
  }
}
