.dashboard {
  display: grid;
  grid-template-rows: 2fr 7fr;
  height: 100%;
}

.chart-holder{
  display: grid;
  grid-template-columns: $gutter 1fr $gutter 1fr $gutter;
  grid-template-rows: $gutter 1fr $gutter;

  #chart-1 {
    grid-column: 2;
    grid-row: 2;
  }

  #chart-2 {
    grid-column: 4;
    grid-row: 2;
  }
}

.meter {
  display: grid;
  grid-template-columns: $gutter 1fr $gutter 1fr $gutter 1fr $gutter 1fr $gutter;

  #meter-1 {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-rows: $gutter 1fr;

    .meter-inner {
      grid-row: 2;
    }
  }

  #meter-2 {
    grid-column: 4;
    grid-row: 1;
    display: grid;
    grid-template-rows: $gutter 1fr;

    .meter-inner {
      grid-row: 2;
    }
  }

  #meter-3 {
    grid-column: 6;
    grid-row: 1;
    display: grid;
    grid-template-rows: $gutter 1fr;

    .meter-inner {
      grid-row: 2;
    }
  }

  #meter-4 {
    grid-column: 8;
    grid-row: 1;
    display: grid;
    grid-template-rows: $gutter 1fr;

    .meter-inner {
      grid-row: 2;
    }
  }
}
