//Component colors

$component-colors: (
	"white":	(base:#ffffff, font: #666),
	"default":	(base:#e1e5ec, font: #666),
	"dark":	(base:#2f353b, font: #FFFFFF),
	"blue":	(base:#3598dc, font: #FFFFFF),
	"blue-madison":	(base:#578ebe, font: #FFFFFF),
	"blue-chambray":	(base:#2C3E50, font: #FFFFFF),
	"blue-ebonyclay":	(base:#22313F, font: #FFFFFF),
	"blue-hoki":	(base:#67809F, font: #FFFFFF),
	"blue-steel":	(base:#4B77BE, font: #FFFFFF),
	"blue-soft":	(base:#4c87b9, font: #FFFFFF),
	"blue-dark":	(base:#5e738b, font: #FFFFFF),
	"blue-sharp":	(base:#418FFF, font: #FFFFFF),
	"blue-oleo":	(base:#94A0B2, font: #FFFFFF),
	"blue-nice":	(base:#214ff4, font: #FFFFFF),
	"green":	(base:#32c5d2, font: #FFFFFF),
	"green-meadow":	(base:#1BBC9B, font: #FFFFFF),
	"green-seagreen":	(base:#1BA39C, font: #FFFFFF),
	"green-turquoise":	(base:#36D7B7, font: #FFFFFF),
	"green-haze":	(base:#44b6ae, font: #FFFFFF),
	"green-jungle":	(base:#26C281, font: #FFFFFF),
	"green-soft":	(base:#3faba4, font: #FFFFFF),
	"green-dark":	(base:#4DB3A2, font: #FFFFFF),
	"green-sharp":	(base:#2ab4c0, font: #FFFFFF),
	"green-steel":	(base:#29b4b6, font: #FFFFFF),
	"grey":	(base:#E5E5E5, font: #333333),
	"grey-steel":	(base:#e9edef, font: #80898e),
	"grey-cararra":	(base:#fafafa, font: #333333),
	"grey-gallery":	(base:#555555, font: #ffffff),
	"grey-cascade":	(base:#95A5A6, font: #FFFFFF),
	"grey-silver":	(base:#BFBFBF, font: #FAFCFB),
	"grey-salsa":	(base:#ACB5C3, font: #FAFCFB),
	"grey-salt":	(base:#bfcad1, font: #FAFCFB),
	"grey-mint":	(base:#525e64, font: #FFFFFF),
	"red":	(base:#e7505a, font: #ffffff),
	"red-pink":	(base:#E08283, font: #ffffff),
	"red-sunglo":	(base:#E26A6A, font: #ffffff),
	"red-intense":	(base:#e35b5a, font: #ffffff),
	"red-thunderbird":	(base:#D91E18, font: #ffffff),
	"red-flamingo":	(base:#EF4836, font: #ffffff),
	"red-soft":	(base:#d05454, font: #ffffff),
	"red-haze":	(base:#f36a5a, font: #ffffff),
	"red-mint":	(base:#e43a45, font: #ffffff),
	"yellow":	(base:#c49f47, font: #ffffff),
	"yellow-gold":	(base:#E87E04, font: #ffffff),
	"yellow-casablanca":	(base:#f2784b, font: #ffffff),
	"yellow-crusta":	(base:#f3c200, font: #ffffff),
	"yellow-lemon":	(base:#F7CA18, font: #ffffff),
	"yellow-saffron":	(base:#F4D03F, font: #ffffff),
	"yellow-soft":	(base:#c8d046, font: #ffffff),
	"yellow-haze":	(base:#c5bf66, font: #ffffff),
	"yellow-mint":	(base:#c5b96b, font: #ffffff),
	"purple":	(base:#8E44AD, font: #ffffff),
	"purple-plum":	(base:#8775a7, font: #ffffff),
	"purple-medium":	(base:#BF55EC, font: #ffffff),
	"purple-studio":	(base:#8E44AD, font: #ffffff),
	"purple-wisteria":	(base:#9B59B6, font: #ffffff),
	"purple-seance":	(base:#9A12B3, font: #ffffff),
	"purple-intense":	(base:#8775a7, font: #ffffff),
	"purple-sharp":	(base:#796799, font: #ffffff),
	"purple-soft":	(base:#8877a9, font: #ffffff),
	"orange-sunset": (base:#FF5733, font: #ffffff)
);

$white: #ffffff;
$default: #e1e5ec;
$dark: #2f353b;
$blue: #3598dc;
$blue-madison: #578ebe;
$blue-chambray: #2C3E50;
$blue-ebonyclay: #22313F;
$blue-hoki: #67809F;
$blue-steel: #4B77BE;
$blue-soft: #4c87b9;
$blue-dark: #5e738b;
$blue-sharp: #5C9BD1;
$blue-oleo: #94A0B2;
$green: #32c5d2;
$green-meadow: #1BBC9B;
$green-seagreen: #1BA39C;
$green-turquoise: #36D7B7;
$green-haze: #44b6ae;
$green-jungle: #26C281;
$green-soft: #3faba4;
$green-dark: #4DB3A2;
$green-sharp: #2ab4c0;
$green-steel: #29b4b6;
$grey: #E5E5E5;
$grey-steel: #e9edef;
$grey-cararra: #fafafa;
$grey-gallery: #555555;
$grey-cascade: #95A5A6;
$grey-silver: #BFBFBF;
$grey-salsa: #ACB5C3;
$grey-salt: #bfcad1;
$grey-mint: #525e64;
$red: #e7505a;
$red-pink: #E08283;
$red-sunglo: #E26A6A;
$red-intense: #e35b5a;
$red-thunderbird: #D91E18;
$red-flamingo: #EF4836;
$red-soft: #d05454;
$red-haze: #f36a5a;
$red-mint: #e43a45;
$yellow: #c49f47;
$yellow-gold: #E87E04;
$yellow-casablanca: #f2784b;
$yellow-crusta: #f3c200;
$yellow-lemon: #F7CA18;
$yellow-saffron: #F4D03F;
$yellow-soft: #c8d046;
$yellow-haze: #c5bf66;
$yellow-mint: #c5b96b;
$purple: #8E44AD;
$purple-plum: #8775a7;
$purple-medium: #BF55EC;
$purple-studio: #8E44AD;
$purple-wisteria: #9B59B6;
$purple-seance: #9A12B3;
$purple-intense: #8775a7;
$purple-sharp: #796799;
$purple-soft: #8877a9;

@each $color_name, $color in $component-colors {
  .#{$color_name} {
		background-color: map-get($color, "base") !important;
		color: map-get($color, "font");
	}
}

@each $color_name, $color in $component-colors {
  .font-#{$color_name} {
		color: map-get($color, "base") !important;
	}
}

// Temporary colors

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$nice-grey: #eef1f5;
