// Screen Sizes
$small-screen-width-max: 85rem;
$small-screen-height-max: 47rem;
$medium-screen-width-max: 120rem;
$medium-screen-height-max: 67.5rem;
$large-screen-width-min: 120rem;
$large-screen-height-min: 67.5rem;

// Grid
$grid-min-width : 100rem;
$gutter-vertical: 8rem;
$gutter: 1rem;

// Wrapper
$wrapper-min-width: 100rem;
$wrapper-min-height: 70rem;
$wrapper-width: 100%;
$full-height-wrapper-height: 100vh;

//mainbar
$medium-mainbar-height: 6rem;

// Sidebar

$sidebar-background-color: #214ff4;
$sidebar-font-color: white;

$sidebar-height:100%;
$medium-screen-full-width-sidebar-width: 30rem;
$large-screen-full-width-sidebar-width: 50rem;

$full-sidebar-back-button-container-height: 10rem;
$collapsed-sidebar-back-button-container-height: 7rem;
$sidebar-back-button-font-size: 4rem;
$sidebar-back-button-margin-top: 2rem;
$sidebar-back-button-margin-left: 23.5rem;

$sidebar-link-icon-padding-left: 4.7rem;
$sidebar-link-text-padding-left: 7rem;


$sidebar-li-icon-size: 2.8rem;
$sidebar-li-font-size: 2.2rem;
