@media (max-width: $small-screen-width-max) {
  .main-bar {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

@media (min-width: $small-screen-width-max) and (max-width: $medium-screen-width-max) {
  .main-bar{
    background-color: $color-white;
    height: $medium-mainbar-height;
  }
}
