.meter-inner {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 2.5fr 1fr .5fr 1fr;
  color: $grey-cascade;

  &-number {
    grid-column: 1;
    grid-row: 1;
    font-size: 3rem;
    font-weight: 400;

    .symbol {
      font-family: sans-serif;
    }
  }

  &-icon {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    font-size: 2.7rem;
    color: $default;
    i {
      vertical-align: middle;
    }
  }

  &-title {
    grid-column: 1;
    grid-row: 2;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  &-progress {
    grid-column: 1/3;
    grid-row: 3;

    .progress {
      vertical-align: top;
    }
  }

  &-progress-text {
    grid-column: 1;
    grid-row: 4;
    font-size: 1.3rem;
  }

  &-percentage {
    grid-column: 2;
    grid-row: 4;
    text-align: right;
    font-size: 1.3rem;
  }
}
