@media (max-width: $small-screen-width-max) {
  .sidebar {
    visibility: hidden;
    width: 0;
    height:0;
  }
}

@media (min-width: $small-screen-width-max) {
  .sidebar {
    height: $sidebar-height;
    background-color: $sidebar-background-color;
    width: 7rem;

    &-collapsed {

      .icon-container {
        height: $collapsed-sidebar-back-button-container-height;
        text-decoration: none;
        color: $color-white;
        display: grid;
        i.back-button {
          font-size: $sidebar-back-button-font-size;
          grid-column: 2;
          grid-row: 2;
        }
      }

      .sidebar-list {
        &-item {
          &-link {
            color: $sidebar-font-color;
            display: grid;
            grid-template-rows: 2rem 3rem 2rem;
            text-align: center;

            &-icon {
              font-size: $sidebar-li-icon-size;
              grid-row: 2;
            }

            &-text {
              visibility: hidden;
              width: 0;
            }
          }
        }
      }
    }

    &-full {
      width: $medium-screen-full-width-sidebar-width;
      color: $sidebar-font-color;
      display: grid;
      grid-template-rows: auto 1fr;

      .icon-container {
        height: $full-sidebar-back-button-container-height;
        color: inherit;
        text-decoration: none;
        display: grid;
        grid-template-columns: $sidebar-back-button-margin-left auto;
        grid-template-rows: $sidebar-back-button-margin-top auto;

        i.back-button {
          font-size: $sidebar-back-button-font-size;
          grid-column: 2;
          grid-row: 2;
        }
      }

      .sidebar-list {

        &-item {

          &-link {
            display: grid;
            grid-template-columns: $sidebar-link-icon-padding-left $sidebar-link-text-padding-left auto;
            grid-template-rows: 2rem 3rem 2rem;
            color: $sidebar-font-color;

            &-icon {
              font-size: $sidebar-li-icon-size;
              grid-column: 2;
              grid-row: 2;
            }

            &-text {
              font-size: $sidebar-li-font-size;
              padding-top: 0.2rem;
              grid-column: 3;
              grid-row: 2;
            }
          }
        }
      }
    }
  }
}
